<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hql.sys.user.dao.SystemUserMapper">

    <select id="selectByUserName" resultType="com.hql.sys.user.entity.SysUser" parameterType="string">
        select user_id as id,
                status as status,
               user_name as userName,
               password as password
        from sys_user where user_name = #{userName}
    </select>


</mapper>
